<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<ul class="layui-nav layui-bg-blue">
    <li class="layui-nav-item layui-this"><a href="">我的笔记</a></li>
    <li class="layui-nav-item"><a href="">新增笔记</a></li>
</ul>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6" th:each="note:${noteList}" th:onclick="'javascript:read(\''+${note.title}+'\')' ">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-blue" th:text="${note.title}">卡片面板</div>
                <div class="layui-card-body">
                    摘要
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script>
    var path = "http://127.0.0.1:8888"
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
    function read(name) {
        console.log(name)
        $.ajax({
            url: path + "/operation/read",
            type: "POST",
            async: false,
            data: {
                name: name,
            },
            success: function (data) {
                //$("#noteText").val(data);
                console.log(232323)
            },
            error: function (xhr, textStatus) {
                console.log('错误');
                console.log(xhr);
                console.log(textStatus);
            }
        })
    }
</script>
</body>
</html>